html, body {
    margin: 0;
    padding: 0;
}
.row0 {
    display: flex;
}
.dashboard {
    height: 100vh;
    width: 30%;
    background-color: red;
}

.top-bar {
    height: 50vh;
    width: 70%;
    background-color: blue;
}